:root {
  /* fonts */

  /* font sizes */
  --scale-0: 0.5rem;
  --scale-1: 1rem;
  --scale-2: 1.5rem;
  --scale-3: 2rem;
  --scale-4: 2.5rem;
  --scale-5: 3rem;
  --scale-6: 3.5rem;
  --scale-7: 4rem;
  --scale-8: 4.5rem;
  --scale-9: 5rem;

  /* font weight */
  --font-weight-regular: 400;
  --font-weight-mid: 500;
  --font-weight-heavy: 600;

  /* general sizes */
  --size-px: 1px;
  --size-1: 2px;
  --size-2: 4px;
  --size-3: 6px;
  --size-4: 8px;
  --size-5: 10px;
  --size-6: 12px;
  --size-7: 14px;
  --size-8: 16px;
  --size-9: 18px;
  --size-10: 20px;
  --size-11: 24px;
  --size-12: 28px;
  --size-14: 32px;
  --size-16: 36px;
  --size-18: 40px;
  --size-20: 44px;
  --size-22: 48px;
  --size-24: 52px;
  --size-26: 56px;
  --size-28: 60px;
  --size-30: 64px;
  --size-32: 68px;
  --size-34: 72px;
  --size-36: 76px;
  --size-38: 80px;
  --size-40: 84px;
  --size-42: 88px;
  --size-44: 92px;
  --size-46: 96px;
  --size-48: 100px;
  --size-50: 104px;
  --size-52: 108px;
  --size-54: 112px;
  --size-56: 116px;
  --size-58: 120px;
  --size-60: 124px;
  --size-62: 128px;
  --size-64: 132px;
  --size-66: 136px;
  --size-68: 140px;
  --size-70: 144px;
  --size-72: 148px;
  --size-74: 152px;
  --size-76: 156px;
  --size-78: 160px;
  --size-80: 164px;
  --size-82: 168px;
  --size-84: 172px;
  --size-86: 176px;
  --size-88: 180px;
  --size-90: 184px;
  --size-92: 188px;
  --size-94: 192px;
  --size-96: 196px;
  --size-98: 200px;
  --size-100: 204px;
  --size-102: 208px;
  --size-104: 212px;
  --size-106: 216px;
  --size-108: 220px;
  --size-110: 224px;
  --size-112: 228px;
  --size-114: 232px;
  --size-116: 236px;
  --size-118: 240px;
  --size-120: 244px;
  --size-122: 248px;
  --size-124: 252px;
  --size-126: 256px;
  --size-128: 260px;
  --size-130: 264px;
  --size-132: 268px;
  --size-134: 272px;
  --size-136: 276px;
  --size-138: 280px;
  --size-140: 284px;

  --size-full: 100%;

  /* background colors */
  --color-rust-dark: #c67a54;
  --color-rust-mid: #f7d4bc;
  --color-rust-light: #faf4ec;

  --color-charcoal-dark: #6b6764;
  --color-charcoal-light: #d3c9bd;

  /* text colors */
  --color-text-dark: #3f4242;
  --color-text-mid: #484848;
  --color-text-light: #f5f3f0;

  --color-black: #000000;
  --color-white: #ffffff;

  /* z-index layers */
  --layer-1: 100;
  --layer-2: 200;
  --layer-3: 300;
  --layer-4: 9999;

  /* media queries */
  /* --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
  --breakpoint-large-desktop: 1440px; */
}
