.background {
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: var(--layer-5);
  background-color: var(--color-white);
}

.loadingIcon {
  position: absolute;
  top: calc(50% - var(--icons-positioning));
  left: calc(50% - var(--icons-positioning));
  animation: spin 1.25s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
