.header {
  display: flex;
  justify-content: space-between;
  height: var(--size-38);
  align-items: center;
  padding: 0 var(--size-5);
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-charcoal-light);
  position: sticky;
  top: 0;
  z-index: var(--layer-1);
  background-color: var(--color-white);
}

.logo {
  display: block;
  width: var(--size-98);
  font-size: var(--size-6);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  color: var(--color-charcoal-light);
  letter-spacing: 0.1rem;
}

.nav {
  flex-grow: 1;
}

.link {
  font-size: var(--size-8);
  color: var(--color-charcoal-light);
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.link:hover {
  color: var(--color-rust-mid);
}

.ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}

.icons {
  color: var(--color-charcoal-light);
  display: flex;
  width: var(--size-98);
  justify-content: space-evenly;
}

.divider {
  width: var(--size-px);
  background-color: var(--color-charcoal-light);
}
