.sceneWrapper {
  padding: 0px var(--size-28) var(--size-24);
}

.images {
  --aspect: 0;

  position: relative;
  aspect-ratio: var(--aspect);

  top: 0;
  left: 0;

  & img {
    --top: 0;
    --left: 0;
    --width: 0;
    --aspect: 0;

    position: absolute;
    top: var(--top);
    width: var(--width);
    aspect-ratio: var(--aspect);
    left: var(--left);
  }
}
