.sceneWrapper {
  padding: 0px 61px 50px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  gap: 16px;
}

.gridItem {
  grid-row-end: span var(--row-span, 1);
}

.gridItem img {
  width: 100%;
  height: auto;
  display: block;
}
