.sceneWrapper {
  padding: 0px var(--size-28) var(--size-24);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-auto-flow: dense;
}

.gridItem {
  grid-row-end: span var(--row-span, 1);
}

.gridItem img {
  width: var(--size-full);
  height: auto;
  display: block;
}
