/* // TODO: different screen size styling!!! */
.heroContainer {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image {
  position: relative;
  height: 100vh;
}

.textOverlay {
  position: absolute;
  left: calc(3.75vw - var(--size-10));
  bottom: calc(3.75vw - var(--size-10));
  text-align: left;
  color: white;
  z-index: var(--layer-1);
  font-weight: var(--font-weight-regular);
}

.title {
  letter-spacing: 2px;
  font-size: var(--size-8);
}

.subtitle {
  font-size: var(--size-4);
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.chevron {
  position: absolute;
  margin: 0 auto;
  width: var(--size-26);
  height: var(--size-26);
  bottom: var(--size-5);
  left: 0;
  right: 0;
  color: var(--color-white);
  z-index: var(--layer-1);
  animation: arrowAnimation 900ms infinite alternate running;
  animation-timing-function: ease-in-out;
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(calc(var(--size-10) * -1));
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 480px) {
  .title {
    font-size: var(--size-9);
  }
}

@media (min-width: 768px) {
  .title {
    font-size: var(--size-10);
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: var(--size-12);
  }
}
