/* // TODO: different screen size styling!!! */

.heroContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.image {
  width: 100%;
  height: 100%;
}

.textOverlay {
  position: absolute;
  left: calc(3.75vw - var(--size-10));
  bottom: calc(3.75vw - var(--size-10));
  text-align: left;
  color: white;
  z-index: var(--layer-1);
  font-weight: var(--font-weight-regular);
}

.title {
  font-size: 2.67vw;
  letter-spacing: 0.17vw;
}

.subtitle {
  font-size: 1.07vw;
  letter-spacing: 0.32vw;
}

.chevron {
  position: absolute;
  margin: 0 auto;
  width: var(--size-26);
  height: var(--size-26);
  bottom: var(--size-5);
  left: 0;
  right: 0;
  color: var(--color-white);
  z-index: var(--layer-1);
  animation: arrowAnimation 900ms infinite alternate running;
  animation-timing-function: ease-in-out;
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(calc(var(--size-10) * -1));
  }
  100% {
    transform: translateY(0);
  }
}
