.tooltip {
  position: relative;
  display: inline-block;
}

.tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.tooltip.right .tooltipText {
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
}

.tooltip.right .tooltipText::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip.left .tooltipText {
  top: 50%;
  right: 105%;
  transform: translateY(-50%);
}

.tooltip.left .tooltipText::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tooltip.top .tooltipText {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.top .tooltipText::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip.bottom .tooltipText {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.bottom .tooltipText::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
