.tooltip {
  position: relative;
  display: inline-block;
}

.tooltipText {
  position: absolute;
  width: var(--size-48);
  visibility: hidden;
  font-size: var(--size-6);
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-rust-dark);
  padding: var(--size-2);
  transition: opacity 0.3s;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

.tooltip {
  & .tooltipText {
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

    &::after {
      content: "";
      position: absolute;
      margin-left: -5px;
      border-width: var(--size-3);
      border-style: solid;
      border-color: transparent transparent var(--color-rust-dark) transparent;
    }
  }

  &.top {
    & .tooltipText {
      bottom: 120%;

      &::after {
        bottom: -9px;
        transform: rotate(180deg);
        left: 50%;
      }
    }
  }

  &.bottom {
    & .tooltipText {
      top: 120%;

      &::after {
        top: -9px;
        left: 50%;
      }
    }
  }

  &.left {
    & .tooltipText {
      top: 50%;
      transform: translateY(-50%) translateX(-115%);

      &::after {
        left: 99%;
        margin: -5px 0 0 0;
        transform: rotate(90deg);
      }
    }
  }

  &.right {
    & .tooltipText {
      top: 50%;
      transform: translateY(-50%) translateX(15%);

      &::after {
        left: -8%;
        margin: -5px 0 0 0;
        transform: rotate(270deg);
      }
    }
  }
}
