.wrapper {
  position: fixed;
  top: -100px;
  left: 0;
  animation: wrapper 0.75s ease-out forwards;
  background-color: var(--color-white);
  width: 100vw;
  height: var(--size-46);
}

.topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0 var(--size-4);
  text-transform: uppercase;
  height: var(--size-22);
}

.linksSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: var(--size-22);
  overflow-x: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.linksSection::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.topSection p {
  margin: 0;
}

.button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  color: var(--color-rust-dark);
}

.menuIcon {
  cursor: pointer;
}

.select {
  font-size: var(--scale-1);
}

@keyframes wrapper {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
