.wrapper {
  --display: "none";
  position: relative;
  display: inline-block;
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  max-width: 100px;
}

.triggerText {
  font-size: var(--size-8);
  color: var(--color-charcoal-light);
}

.chevron {
  stroke: var(--color-charcoal-light);
}

.dropdown {
  position: absolute;
  display: var(--display);
  top: var(--size-12);
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-charcoal-light);
  z-index: var(--layer-3);
  padding: var(--size-4) 0;
  min-width: var(--size-74);
  white-space: nowrap;
}

.dropdown button {
  display: block;
  width: 100%;
  padding: var(--size-2) var(--size-4);
  border: none;
  background: none;
  font-size: var(--size-7);
  color: var(--color-charcoal-light);
  cursor: pointer;
}
