.wrapper {
  --display: "none";
  position: relative;
  display: inline-block;
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: var(--size-full);
  max-width: 100px;
}

.triggerText {
  font-size: var(--size-8);
  color: var(--color-charcoal-light);
}

.trigger:hover .triggerText,
.trigger:hover .chevron {
  color: var(--color-rust-dark);
  stroke: var(--color-rust-dark);
}

.chevron {
  stroke: var(--color-charcoal-light);
}

.dropdownPositioner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dropdownArrow {
  display: var(--display);
  position: absolute;
  border-width: 6px;
  border-style: solid;
  border-color: var(--color-charcoal-light) transparent transparent
    var(--color-charcoal-light);
  left: 50%;
  transform: rotate(45deg);
  transform-origin: top left;
  z-index: var(--layer-4);

  &::after {
    content: "";
    border-color: var(--color-white) transparent transparent var(--color-white);
    display: var(--display);
    position: absolute;
    border-width: 5px;
    border-style: solid;
    transform: translate(-50%, -50%);
  }
}

.dropdown {
  position: absolute;
  display: var(--display);
  top: 7.5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-white);
  border: 1px solid var(--color-charcoal-light);
  z-index: var(--layer-3);
  padding: var(--size-4) 0;
  min-width: var(--size-74);
  white-space: nowrap;
}

.dropdown button {
  display: block;
  width: var(--size-full);
  padding: var(--size-2) var(--size-4);
  border: none;
  background: none;
  font-size: var(--size-7);
  color: var(--color-charcoal-light);
  cursor: pointer;
}

.dropdown button:hover {
  background: var(--color-rust-light);
}

.dropdown button:active {
  background: var(--color-rust-dark);
  color: var(--color-white);
}
