.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: var(--layer-5);
  background-color: var(--color-white);
  overflow: hidden;
}

.ul {
  list-style: none;
  padding-left: var(--size-7);
  margin-top: var(--size-11);
}

.link {
  display: block;
  font-size: var(--size-8);
  color: var(--color-charcoal-light);
  text-decoration: none;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  height: var(--size-10);
}

.link:active {
  color: var(--color-rust-dark);
}
